.signin-signup-container {
  position: relative;
  z-index: 1;
}

.signin-page-bg {
  position: absolute;
  top: -2rem;
  left: 20rem;
  border-radius: 50%;
  /* background: #1fd4f8; */
  width: 20%;
  height: 70%;
  z-index: -1;
}

.auth-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  background-color: #010101;
  border: 1px solid #222;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 10px rgba(31, 213, 249, 0.1);
}

.sign-close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 22px;
  color: #1fd5f9;
  cursor: pointer;
}

.tab-switch {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 25px;
}

.tab-switch span {
  margin: 0 15px;
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 4px;
  color: #888;
  border-bottom: 2px solid transparent;
}

.tab-switch .active {
  color: #1fd5f9;
  border-color: #1fd5f9;
}

form {
  margin-top: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* flex-direction: column; */
  gap: 18px;
}

.form-field {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr);
  gap: 18px; */
  /* flex-direction: column; */
}

.form-field input {
  padding: 14px;
  border: 1px solid #222;
  background: transparent;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
}

.form-field input::placeholder {
  color: #888;
}

.error {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
}

.checkbox-inline {
  flex-direction: column;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ccc;
}

.auth-btn {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  background-color: #1fd5f9;
  border: none;
  color: #010101;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-btn:hover {
  background-color: #17bfd8;
}

.toggle-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #888;
}

@media (max-width: 767px) {
  .signin-page-bg {
    display: none;
  }

  .auth-container {
    padding: 30px 20px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}