@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
  background-color: #060606;
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  /* border-right: 3px solid #333; */
  position: absolute;
  top: 0;
  min-width: 100%;
}


* {
  font-family: 'Poppins', Roboto, serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  list-style-type: none;
}

p,
span,
li,
.nav-link {
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.c-pale-blue {
  color: var(--chakra-pale-blue-color);
}

.bgc-pale-blue {
  background-color: var(--chakra-pale-blue-color);
}

:root {

  /* Font sizes */
  --font-display: clamp(1.2rem, 5vw, 2.6rem);
  /* Huge title, Hero text */
  --font-h1: clamp(1.6rem, 3vw, 2.5px);
  /* Main headings */
  --font-h2: clamp(24px, 3vw, 36px);
  /* Section headings */
  --font-h3: clamp(22px, 3vw, 32px);
  /* Subheadings */
  --font-h4: clamp(18px, 3vw, 28px);
  /* Small headings */
  --font-h5: clamp(16px, 3vw, 26px);
  /* Medium headings */
  --font-body-lg: clamp(10px, 3vw, 18px);
  /* Large body text */
  --font-body: clamp(0.9rem, 2vw, 1rem);
  /* Default body text */
  --font-small: 12px;
  /* Small captions or metadata */


  /* Colors */
  --chakra-pale-blue-color: #1fd5f9;

  --chakra-colors-chakra-body-text: var(--chakra-colors-whiteAlpha-900);
  --chakra-colors-chakra-body-bg: var(--chakra-colors-gray-800);
  --chakra-colors-chakra-border-color: var(--chakra-colors-whiteAlpha-300);
  --chakra-colors-chakra-inverse-text: var(--chakra-colors-gray-800);
  --chakra-colors-chakra-subtle-bg: var(--chakra-colors-gray-700);
  --chakra-colors-chakra-subtle-text: var(--chakra-colors-gray-400);
  --chakra-colors-chakra-placeholder-color: var(--chakra-colors-whiteAlpha-400);

  --chakra-colors-black: #000000;
  --chakra-colors-white: #FFFFFF;
  --chakra-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --chakra-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --chakra-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --chakra-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  --chakra-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  --chakra-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  --chakra-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  --chakra-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --chakra-colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
  --chakra-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --chakra-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --chakra-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --chakra-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
  --chakra-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
  --chakra-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
  --chakra-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
  --chakra-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
  --chakra-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
  --chakra-colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
  --chakra-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
  --chakra-colors-gray-50: #F7FAFC;
  --chakra-colors-gray-100: #EDF2F7;
  --chakra-colors-gray-200: #E2E8F0;
  --chakra-colors-gray-300: #CBD5E0;
  --chakra-colors-gray-400: #A0AEC0;
  --chakra-colors-gray-500: #718096;
  --chakra-colors-gray-600: #4A5568;
  --chakra-colors-gray-700: #2D3748;
  --chakra-colors-gray-800: #1A202C;
  --chakra-colors-gray-900: #171923;
}

/*
Products:
--> MainCard:
padding - 80px,
h1 - 54px,
p, btn - 18px,

--> ProductCard:
h1 - 46px,
p, btn - 18px,


card height - 580px,
*/